

body{
    
    background-image: url(/frontend-spa/src/images/headphones.jpeg) ;
    background-size: 100% ;

    color: white;
}


a{
    color:white;
}


h1{
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
}
ul{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2em;
}
li{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(117, 14, 14);
    list-style-type: none;
    text-transform: uppercase;
    width: max-content;
    border-radius: 10px;
    padding: 5px;
}
li:hover {
    background-color: rgb(201, 24, 24);
}
h2{
    font-family: 'Roboto' , sans-serif;
}
footer{
    text-align: center;
    max-height: 10vh;
    margin-bottom: 0em;
}
input {
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
}
.input-align input{
    margin-left: 10em;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}
.input-align label {
    position: absolute;
}
.input-align {
    display: block;
    vertical-align: auto;
    margin-bottom: 10em;
}
label {
    margin-bottom: 1em;
}
input{
    margin-bottom: 1em;
}
.inputForm {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-bottom: 2em;
}
.commentsDisplay {
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
}
.singleCommentItem {
    background-color: rgba(169, 169, 169, 0.158);
    color: white;
    width: 200px;
    height: 50px;
    margin: 5px;
    text-align: center;
    
}

.singleCommentItem:hover {
    background-color: rgba(169, 169, 169, 0.158);
}

button {
    margin-bottom: 1em;
    

}
.backButton {
    background-color: rgb(13, 207, 143);
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 15px;
    padding: 8px;
    text-transform: uppercase;
}
.backButton:hover {
    background-color: rgb(235, 16, 16); 
}

.submitButton {
    background-color: rgb(117, 14, 14);
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 15px;
    padding: 8px;
    text-transform: uppercase;

}
.submitButton:hover {
    background-color: rgb(235, 16, 16);
}

.deleteButton {
    margin-left: 5px;
    color: #ca3a11;
}

/* NAV BAR */
.topnav a.active {
    background-color: #C23F17;
    color: white;
  }
  .topnav a:hover {
    background-color: rgb(13, 207, 143);
    color: rgb(219, 16, 16);
  }
  .topnav a {
    float: right;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 17px;
  }
  .topnav {
    background-color: rgb(117, 14, 14);
    overflow: hidden;
  }











