

body{
    background-image: url(/frontend-spa/src/images/headphones.jpeg) ;
    background-size: 100% ;
    float: left;
    color: white;
    
}

a{
    color:white;
}

h1{
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
}
ul{
    font-family: 'Roboto', sans-serif;
}

ol{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Roboto' , sans-serif; 
}